+++
title = "OtterCast"
linkTitle = "OtterCast"

+++

{{< blocks/cover title="OtterCast: Open Source Audio Streaming" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/devices" >}}">
		Explore Devices <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/Ottercast">
		Start Now <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="h3 mt-5">Build your device - Own your device</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
OtterCast is a family of open-source audio streaming devices running Linux on custom hardware.

Because you can barely brick **your** device that boots from **your** SD card.
{{% /blocks/lead %}}

{{% blocks/lead color="dark" %}}
<img src="hardware.svg" />

<p class="h3">Custom Hardware</p>

<p class="h5 mb-4">Fine-tuned Linux platform. Not too small. Not too big.</p>

<img class ="mt-5" src="vinyl-record.svg" />

<p class="h3">Sound Quality</p>

<p class="h5 mb-4">Components selected for best sound - not lowest price.</p>

<img class ="mt-5" src="micro-sd-card.svg" />

<p class="h3">Ready-to-use Images</p>

<p class="h5">Get your hardware up and running with pre-built images.</p>


{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col">
<h2 class="text-center">Find the <a href="/devices/">OtterCast device</a> that suits your needs - and start building.</h2>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download Designfiles!"  url="/devices" %}}
And start building.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!"  url="https://github.com/OtterCast" %}}
New otters are always welcome.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/OtterCastAudio" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}
